.signup{
    background-color: #efefef;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageUploadDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-left: 15rem !important; */
}

.avatarText{
    font-weight: 700;
    color: steelblue;
    font-size: 15px;
    word-spacing: 1px;
    /* padding-top: 10px; */
}

.dpTxtWrapp{
    height: 1vh;
}

.uploadDp{
    width: 70px !important;
    height: 70px !important;
    font-size: 50px !important;
}

.uploadDp{
    cursor: pointer;
}

.paper{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.paper__input{
    margin: 20px;
    height: 5vh;
    border-radius: 10px;
    width: 50%;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 700;
    color: steelblue;
}

.paper__labelText{
    width: 8rem;
    /* border: 1px solid rebeccapurple; */
    margin: 0px;
    text-align: right;
    font-weight: 700;
    font-size: 20px;
}

.paper__label{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup__btn{
    background-color: var(--twitter-color) !important ;
    border: none !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 20px !important;
}